<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<ul class="nav nav-pills">
				<li class="active">
					<a href="#">Digestors</a>
				</li>
				<li>
					<a href="#">New</a>
				</li>
				<li class="disabled">
					<a href="#">Logs</a>
				</li>
				<li class="dropdown pull-right">
					 <a href="#" data-toggle="dropdown" class="dropdown-toggle">View<strong class="caret"></strong></a>
					<ul class="dropdown-menu">
						<li>
							<a href="#">Icons</a>
						</li>
						<li>
							<a href="#">List</a>
						</li>
						<li>
							<a href="#">Something else here</a>
						</li>
						<li class="divider">
						</li>
						<li>
							<a href="#">Arrange by</a>
						</li>
					</ul>
				</li>
			</ul>
			<div class="accordion" id="accordion-565025">
				<div class="accordion-group">
					<div class="accordion-heading">
						 <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-565025" href="#">MICO</a>
					</div>
					<div id="accordion-element-345955" class="accordion-body collapse">
						<div class="accordion-inner">
							Anim pariatur cliche...
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-565025" href="#accordion-element-914019">Collapsible Group Item #2</a>
					</div>
					<div id="accordion-element-914019" class="accordion-body collapse">
						<div class="accordion-inner">
							Anim pariatur cliche...
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>