<applications ng-controller="ApplicationsCtrl">
    <div class="row">
        <div class="col-md-12 resource-group">
            <!-- API EMPTY WELCOME -->
            <div class="panel panel-default" ng-show="apis.length">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-list-alt"></i> {{ 'APPLICATIONS.TITLE' | translate }}</h3>
                </div>
                <div class="panel-body">
                    <ul class="app-list">
                        <li ng-repeat="api in apis">
                            <a href="#/main/applications/{{api.name}}">
                                <img ng-show="api.icon" ng-src="{{api.icon}}" alt="Compas">
                                <div class="icon-background">
                                    <i class="fa fa-umbrella fa-2"></i>
                                </div>
                                {{api.name}}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="panel-footer"><span class="label label-primary">{{apis.length}} apps</span></div>
            </div>
            <div class="row actions">
                <div class="col-md-12">
                    <div class="btn-group pull-left">
                        <button type="button" class="btn btn-primary" ng-click="newApi()"><i class="fa fa-plus"></i> {{ 'APPLICATIONS.NEWAPI.NEW' | translate }}</button>
                    </div>
                </div>
            </div>
            <!-- API RESOURCES ACTIONS -->
        </div>
    </div>

    <div class="row" style="display:none">
        <div class="col-md-12 resource-group">

            <div class="endpoint" data-group="documentation" id="endpoint-Entity-type-description">
                <div class="title">
                    <span class="response">
                        HTTP 200 :
                        <a class="show-model">Type description<i class="icon-caret-down"></i></a>
                    </span>
                    <span class="method get">GET</span><span class="route">/type-description/<span class="route-parameter">type</span></span>
                </div>
                <div class="response-model" style="overflow: hidden; display: block;">
                    <div class="description" style="display: block;">An array which specifies the available parameters. Note: only games have a platforms attribute, others have genres only.</div>
                    <pre></pre>
                </div>
                <div class="meta">
                    <strong>Entity type description</strong>
                    <p>Specification of type options</p>
                </div>
                <hr>
                <div class="parameters">
                    <div class="label">
                        <div class="console">Test console</div>
                        <div class="description">Description</div>
                        <div class="name">Parameter</div>
                    </div>
                    <div class="parameter" data-parameter="type">
                        <div class="console">
                            <input type="text" name="type" placeholder="Required">
                        </div>
                        <div class="description">
                            <span class="parameter-type">string</span>
                            <p>
                                Entity type. Available values: game, movie, album. Default: game
                                <br>    <span class="light">Example: <span class="parameter-example">game</span></span>
                            </p>
                        </div>
                        <div class="name">
                            <span class="parameter-name">type</span>
                            <p>Required</p>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <div id="undefined-sticky-wrapper" class="sticky-wrapper" style="height: 15px;">
                        <div class="generators" style="">
                            <a data-language="" data-endpoint-for="Entity type description"></a>
                        </div>
                    </div>
                    <span class="button grey test-endpoint">Test Endpoint</span>
                    <div class="clear"></div>
                </div>
            </div>

        </div>
    </div>
</applications>

<script type="text/ng-template" id="new_api_modal.html">
    <form role="form" ng-model="api" ng-submit="submit()">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
            <h4 class="modal-title">{{ 'APPLICATIONS.NEWAPI.TITLE' | translate }}</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="name">{{ 'APPLICATIONS.NEWAPI.NAME' | translate }}</label>
                <input type="text" class="form-control" id="name" placeholder="{{ 'APPLICATIONS.NEWAPI.NAME' | translate }}" required ng-required="true" ng-model="api.name">
            </div>
            <div class="form-group">
                <label for="domain">{{ 'APPLICATIONS.NEWAPI.DOMAIN' | translate }}</label>
                <input type="text" class="form-control" id="domain" placeholder="{{ 'APPLICATIONS.NEWAPI.DOMAIN' | translate }}" ng-model="api.domain">
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">{{ 'OK' | translate }}</button>
            <button type="button" class="btn btn-danger" ng-click="cancel()">{{ 'CANCEL' | translate }}</button>
        </div>
    </form>
</script>