
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bocoup OpenVis Conf</title>
    <meta name="description" content="A two-day single track conference about the practice of visualizing data on the web">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- link rel="shortcut icon" href="favicon.ico" type="image/x-icon" / -->
    <link rel="alternate icon" type="image/png" href="images/logo.png"/>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,600,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/base.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="js/lodash.js"></script>
  </head>

  <body id="body" lang="en">
    <div id="wrapper">

      <nav id="menu" role="custom-dropdown">
        <div class="block">
          <input type="checkbox" id="button">
          <label for="button" onclick=""></label>
          <ul>
            <li><a href="#header" class="nav-btn">HOME</a></li>
            <li><a href="#speakers" class="nav-btn">STORIES</a></li>
            <li><a href="#location" class="nav-btn">PRODUCT</a></li>
            <li><a href="#register" class="nav-btn">DOCS</a></li>
            <li><a href="#last-year" class="nav-btn">LOGIN</a></li>
            <li class="twitter-button">
              <a href="https://twitter.com/apicatus" class="twitter-follow-button nav-btn" data-show-count="false" data-dnt="true">Follow @apicatus</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </li>
          </ul>
        </div>
      </nav>

      <section id="header" data-0="background-position:0px 0px;" data-500="background-position:0px 200px;">
        <div class="block" data-0="opacity: 1; -webkit-transform: scale(1);" data-180="opacity: 0; -webkit-transform: scale(.9);">
          <img src="images/logo.png" style="max-width: 256px;">
          <h1>#apicatus</h1>
          <div class="actions">
            <a class="button" href="#call">START YOUR API NOW</a>
          </div>
        </div>
      </section>

      <section id="speakers">
        <div class="block">
          <h1>APICATUS</h1>
          <h2 class="title">SHARING THE LINKS</h2>
          <div class="keynote_entity">
            <img src="images/logo.png" style="max-width: 256px;">
            <div class="title">
              <h2>DIGESTORS</h2>
            </div>
            <p class="bio"><a href="http://bost.ocks.org/mike/" target="_blank">Apicatus</a> is a an API digestor designed to scale and share your API while youre still hardwiring your endpoins, mock, share and proxy you endpoins.</p>
          </div>

      </section>

      <section id="tagline" data-bottom-top="background-position:0px 0px;" data-0-top-bottom="background-position: 0px  50px;">
        <div class="block">
          <h1>HARDWIRED APIS ?<br></h1>
        </div>
      </section>

      <section id="last-year">
        <div class="block">
          <div class="title">
            <h1>OPENVIS 2013</h1>
            <h2>HIGHLIGHT REEL</h2>
            <div class="video-reel" style="text-align: center; margin-bottom: 4em;">
              <iframe src="http://player.vimeo.com/video/69388065" width="100%" height="420" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>
            <a class="button" href="2013" target="_blank">Watch talks from OpenVis 2013</a>
          </div>
        </div>
      </section>

      <section id="call">
        <div class="block">
          <div class="title">
            <h1>CALL FOR SPEAKERS</h1>
            <h2>WE WANT TO HEAR FROM YOU</h2>
          </div>
          <p><a href="openvis-2013-2/index.html">Last year's speakers</a> made OpenVis incredible. From talks about accessability to mapping, every talk delivered insight, inspiration and practical lessons for the audience. This year, we are looking for the best and brightest to meet that same challenge.</p>
          <p>We are always looking to strike a balance between veterans and new speakers, so if you have a great idea or topic you want to share, don't be shy!</p>
          <p>Our goal at OpenVis is to shed light on the real-world experiences and challenges of building data visualization on the open web. Talks will be announced on a rolling basis.</p>
          <a class="button" target="_blank" href="https://docs.google.com/forms/d/15ZvizW_dNBaprNtn7fXSeHd8jrT8FYDHRdPftCvMP70/viewform">CALL FOR SPEAKERS</a>
        </div>
      </section>

      <section id="location" data-bottom-top="background-position: 0px -117px;" data-0-top-bottom="background-position: 0px 0px">
        <div class="block">
          <h1>BOSTON MASSACHUSETTS</h1>
        </div>
      </section>

      <section id="register">
        <div class="block">
          <div class="title">
            <h1>REGISTER</h1>
            <h2>LET'S HAVE SOME FUN</h2>
          </div>
          <div class="register-form">
            <div class="register-info">
              <img src="img/openvis-logo.png">
              <h2>April 24 &amp; 25, 2014 &#8226; Boston, MA</h2>
            </div>
            <div class="form" id="tito-register-form">
              <script src="https://tito.io/bocoup/openvis.js?version=3"></script>
            </div>
          </div>
        </div>
      </section>

      <section id="sponsor">
        <div class="block">
          <div class="title">
            <h1>SPONSOR</h1>
            <h2>HELP US MAKE OPENVIS GREAT</h2>
          </div>
          <p>
            Sponsoring OpenVis is a great way for you to help us put on a top-notch community event and connect your company to people who are driving the conversation about Data Visualization on the web.
          </p><p>
            For more information, <a href="assets/openvis-sponsorship-prospectus.pdf">download our prospectus</a> or contact us at <a href="mailto:openvisconf@bocoup.com">OpenVisConf@bocoup.com</a>.
          </p>
      </section>
      <section id="about">
        <div class="block">
          <div class="title">
            <h1>WHO WE ARE</h1>
            <h2>WHO MAKES OPENVIS POSSIBLE</h2>
          </div>

          <div style="overflow: auto;">
            <p>
              <img class="bob" src="img/bob.png" align="left" class="clearfix" />
              <a href="http://bocoup.com">apicatus</a> is an Open Web technology company by and for programmers. We create new Open Web technologies and help them become viable through consulting, training and community development.
            </p>
            <p>
              OpenVis Conf is a key component of our data visualization initiative, bringing together practitioners, developers and clients because we believe providing this forum will move data visualization forward on the Open Web.
            </p>
          </div>

      </section>
      <footer>
        <div class="block">
          <p>OpenVis by <a target="_blank" href="http://www.bocoup.com">Bocoup</a> - &copy; 2013 - Follow us on <a href="http://twitter.com/openvisconf" target="_blank">Twitter</a> or contact us at <a href="mailto:openvisconf@bocoup.com">OpenVisConf@bocoup.com</a>
          <br>
          Check out what happened at <a href="2013">OpenVis 2013</a></p>
        </div>
      </footer>
    </div>

    <script type="text/javascript" src="js/modernizr.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>

    <!-- templates: speaker -->
    <script type="text/template" id="speaker_template" style="display:none;">
      <img class="speaker-img" src="<%= image_src %>">
      <h2 class="expand_bio">
        <%= name.join(" & ") %>
        <img class="expand-name" src="img/expand-speaker.png">
      </h2>
      <h3 class="expand_talk">
        <%= title %>
        <img class="expand" src="img/expand.png">
      </h3>
      <% if (tags && tags.length) { %>
        <div class="tag_container">
          Tagged as:
          <span class="tags">
            <span class="tag"><%= tags.join("</span> <span class=\"tag\">") %></span>
          </span>
        </div>
      <% } %>

      <div class="talk_abstract">
        <%= abstract %>
      </div>
      <div class="speaker_bio">
        <%= bio %>
      </div>
    </script>

    <script type="text/javascript">
      Modernizr.load([{
        test: Modernizr.mq('only screen and (min-width: 1280px)'),
        yep: ['js/skrollr.js'],
      }]);

      $(".nav-btn").click(function () {
        $('input[type=checkbox]').removeAttr('checked');
      });

      document.createElement("section");
      document.createElement("footer");
      document.createElement("header");
    </script>

  </body>
</html>
