application {
    .page-header {
        padding: 0;
        margin: 20px 0 20px;
        border-bottom-style: dotted;
        h1 {
            margin: 0.25em 0;
            input[type="text"].resource-name {
                margin-left: 10px;
                &:disabled {
                    border: none;
                }
            }
            i.heading {
                color: @brand-primary;
            }
            i.edit {
                font-size: 1em;
            }
        }
    }
    accordion {
        .panel-heading {
            padding: 0;
            cursor: default;
            a {
                &:hover, &:active, &:focus {
                    cursor: pointer;
                    text-decoration: none;
                }
            }
            span.method {
                display: inline-block;
                margin-right: 10px;
                padding: 10px 20px;
                color: #fff;
                font-weight: 100;
                text-shadow: 1px 1px rgba(0,0,0,1);
                &.GET {
                    background-color: #0064cd;
                    border-right-width: 5px;
                    border-right-color: darken(#0064cd, 15%);
                    border-right-style: solid;
                }
                &.POST {
                    background-color: #46a546;
                    border-right-width: 5px;
                    border-right-color: darken(#46a546, 15%);
                    border-right-style: solid;
                }
                &.DELETE {
                    background-color: #BD2C00;
                    border-right-width: 5px;
                    border-right-color: darken(#BD2C00, 15%);
                    border-right-style: solid;
                }
                &.PUT {
                    background-color: #ff7d00;
                    border-width: 2px;
                    border-right: darken(#ff7d00, 15%);
                    border-right-style: solid;
                }
                &.OPTIONS {
                    background-color: #9C1ACA;
                    border-width: 2px;
                    border-right: darken(#9C1ACA, 15%);
                    border-right-style: solid;
                }
                &.HEAD {
                    background-color: #3BD9EC;
                    border-width: 2px;
                    border-right: darken(#3BD9EC, 15%);
                    border-right-style: solid;
                }
                &.CONNECT {
                    background-color: #A9304F;
                    border-width: 2px;
                    border-right: darken(#A9304F, 15%);
                    border-right-style: solid;
                }
            }
            span.trigger-collapse {
                padding: 10px 10px;
            }
        }
    }
    max-width: 960px;
    display: inherit;
    margin: 0 auto;
    .panel-body {
        padding: 18px;
        .tab-content {
            padding: 10px;
            border: 1px solid;
            border-top: none;
            border-color: @nav-tabs-border-color;
        }
        .row {
            margin-bottom: 10px;
        }
    }
    .input-group {
        /*margin-bottom: 10px;*/
    }
    .ace_editor {

        height: 200px;
    }
}