<application>
    <div class="row">
        <div class="col-md-12">

            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-click="createEndpoint()">
                        <i class="fa fa-file-o"></i> New
                    </button>
                    <button type="button" class="btn btn-default">
                        <i class="fa fa-save"></i> Save
                    </button>
                    <div class="btn-group" ng-init="settings.application.orderBy='name'">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-sort-alpha-asc"></i> Sort <span class="fa fa-angle-down"></span></button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="" ng-click="settings.application.orderBy='name'"><i class="fa fa-fw" ng-class="settings.application.orderBy == 'name' ? 'fa-check-circle' : 'fa-circle-o'"></i> Name</a></li>
                            <li><a href="" ng-click="settings.application.orderBy='messageCount'"><i class="fa fa-fw" ng-class="settings.application.orderBy == 'messageCount' ? 'fa-check-circle' : 'fa-circle-o'"></i> Activity</a></li>
                            <li><a href="" ng-click="settings.application.orderBy='lastAccess'"><i class="fa fa-fw" ng-class="settings.application.orderBy == 'lastAccess' ? 'fa-check-circle' : 'fa-circle-o'"></i> Date</a></li>
                            <li class="divider"></li>
                            <li><a href="" ng-init="settings.application.showdisabled=true" ng-click="settings.application.showdisabled=!settings.application.showdisabled"><i class="fa fa-fw" ng-class="settings.application.showdisabled ? 'fa-check-square' : 'fa-square-o'"></i> Show disabled</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 input-group pull-right">
                        <input type="text" name="search" id="id_search" class="input-medium form-control" maxlength="200" placeholder="Search"  ng-init="settings.application.query=''" ng-model="query" name="query">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default" ><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-repeat="endpoint in api.endpoints | filter: query | orderBy: settings.application.orderBy">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h1 ng-dblclick="edit=!edit" ng-blur="edit=!edit">
                            <i class="fa fa-sitemap heading"></i>
                            <input type="text" class="resource-name" ng-model="endpoint.name" ng-disabled="edit" ng-init="edit=true" required> <small>{{endpoint.synopsis}}</small>
                            <div class="btn-group btn-group-sm pull-right">
                                <button type="button" class="btn btn-default" ng-click="createMethod(endpoint)" tooltip="New method"><i class="fa fa-file-o"></i></button>
                                <button type="button" class="btn btn-default" tooltip="expand all"><i class="fa fa-plus-square-o"></i></button>
                                <button type="button" class="btn btn-default fg-red" ng-click="deleteEndpoint(api.endpoints, $index)" tooltip="Delete all methods"><i class="fa fa-trash-o"></i></button>
                            </div>
                        </h1>
                    </div>
                </div>
            </div>
            <accordion close-others="false">
                <accordion-group class="panel" heading="{{entry.id}}" ng-repeat="method in endpoint.methods" is-open="isopen">
                    <accordion-heading ng-click="isOpen = !isOpen" class="clearfix" style="padding-top: 7.5px;">
                        <span class="method" ng-class="{true: method.method}[true]">{{method.method}}</span>
                        <span class="route">{{method.URI}}</span>
                        <span class="pull-right trigger-collapse"><i class="fa" ng-class="{'fa-chevron-up': isopen, 'fa-chevron-down': !isopen}"></i></span>

                        <!-- span><i class="pull-right fa" ng-class="{'fa-chevron-down': isopen, 'fa-chevron-right': !isopen}"></i></span -->
                    </accordion-heading>
                    <div class="row">
                        <div class="col-md-12">
                            <tabset>
                                <tab>
                                    <tab-heading>
                                        <i class="fa fa-gears"></i> Setup
                                    </tab-heading>
                                    <form name="form" class="form-horizontal" ng-submit="updateMethod(method, $index)">

                                        <div class="form-group">
                                            <label for="route" class="col-sm-2 control-label">Route</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="route" placeholder="Route" ng-model="method.URI">
                                            </div>
                                        </div>

                                        <div class="form-group" ng-class="{'has-error': form.name.$invalid}">
                                            <label for="proxy" class="col-lg-2 control-label">Proxy</label>
                                            <div class="col-lg-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <input type="checkbox" ng-model="method.proxy.enabled">
                                                    </span>
                                                    <input type="url" id="proxy" class="form-control" ng-model="method.proxy.URI" placeholder="proxy url (http / https)" ng-disabled="!method.proxy.enabled" ng-required="method.proxy.enabled">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="method" class="col-lg-2 control-label">Method</label>
                                            <div class="col-lg-10">
                                                <label class="label-select">
                                                    <select class="form-control" id="method" ng-model="method.method" ng-options="methods.label as methods.label group by methods.group for methods in httpSettings.methods"></select>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPassword1" class="col-lg-2 control-label">Content type</label>
                                            <div class="col-lg-10">
                                                <label class="label-select">
                                                    <!-- select class="" ng-init="method.response.contentType = httpSettings.contentTypes[method.produces].id" ng-model="method.produces.contentType" ng-options="contentTypes.id as contentTypes.label group by contentTypes.group for contentTypes in httpSettings.contentTypes"></select -->
                                                    <!-- select ui-select2="" style="width:340px" class="col-lg-2" ng-model="method.response.contentType" ng-options="contentTypes.label as contentTypes.label group by contentTypes.group for contentTypes in httpSettings.contentTypes"></select -->
                                                    <select class="form-control" ng-model="method.response.contentType" ng-options="contentTypes.label as contentTypes.label group by contentTypes.group for contentTypes in httpSettings.contentTypes">
                                                        <option></option>
                                                    </select>
                                                </label>
                                            </div>
                                        </div>
                                        <!-- CUSTOM HEADERS -->
                                        <div class="form-group hidden">
                                            <label for="inputPassword1" class="col-lg-2 control-label">Custom headers</label>
                                            <div class="col-lg-3">
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="col-lg-1">
                                                <button type="button" class="btn btn-menu" ng-click=""><i class="glyphicon glyphicon-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <!-- Headers -->
                                        <div class="form-group">
                                            <label for="inputPassword1" class="col-lg-2 control-label">Status Code</label>
                                            <div class="col-lg-10">
                                                <label class="label-select">
                                                    <select class="form-control" ng-model="method.response.statusCode" ng-options="status.id as status.label group by status.group for status in httpSettings.statuses"></select>
                                                </label>
                                            </div>
                                        </div>
                                        <!-- Response -->
                                        <div class="form-group">
                                            <label for="inputPassword1" class="col-lg-2 control-label">Response Body</label>
                                            <div class="col-lg-10">
                                                <div ui-ace="{ onLoad : 'aceLoaded', mode: 'json', theme:'monokai'}" ng-model="method.response.message"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-offset-2 col-lg-10">
                                                <div class="btn-group">
                                                    <button type="submit" class="btn btn-default" ng-disabled="form.$pristine && !form.$invalid"><i class="fa fa-save"></i></button>
                                                    <button class="btn btn-default" ng-click="removeMethod(method, $index)"><i class="fa fa-power-off"></i></button>
                                                </div>
                                                <button class="btn btn-danger pull-right" ng-click="deleteMethod(endpoint.methods, $index)" tooltip="Remove"><i class="fa fa-trash-o"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </tab>
                                <tab>
                                    <tab-heading>
                                        <i class="fa fa-bolt"></i> Try
                                    </tab-heading>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div ui-ace="{ onLoad : 'aceLoaded', mode: 'javascript', theme:'monokai' }" ng-model="method.demo"></div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="toolbar well well-sm">
                                                <div class="btn-toolbar" role="toolbar">
                                                    <div class="btn-group">
                                                        <button class="btn btn-primary" ng-click="demo(method.demo)"><i class="fa fa-play"></i></button>
                                                        <button class="btn btn-primary" ng-click="removeMethod($index, $index)"><i class="fa fa-circle"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </tab>
                                <tab>
                                    <tab-heading>
                                        <i class="fa fa-puzzle-piece"></i> Debug
                                        <!-- span class="fa-stack fa-lg">
                                            <i class="fa fa-dot-circle-o fa-stack-1x fg-red"></i>
                                            <i class="fa fa-circle-o fa-stack-1x"></i>
                                        </span -->
                                    </tab-heading>
                                    <table class="table table-striped" ng-table="logTableParams">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Route</th>
                                                <th>Query</th>
                                                <th>Status</th>
                                                <th>IP</th>
                                                <th>Date</th>
                                                <th>Latency (ms)</th>
                                                <!-- th ng-repeat="(key,value) in invoices.0">{{key}}</th -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="log in method.logs">
                                                <td>{{$index}}</td>
                                                <td>{{method.URI}}</td>
                                                <td>{{log.query || json}}</td>
                                                <td><span class="label label-success">{{log.status}}</span></td>
                                                <td>{{log.ip}}</td>
                                                <td timeago="{{log.date}}"></td>
                                                <td>{{log.time}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <pagination ng-model="method" total-items="method.logs.length" items-per-page="10" page="currentPage" max-size="10" on-select-page="setPage(page)"></pagination>
                                </tab>
                                <tab>
                                    <tab-heading>
                                        <i class="fa fa-bar-chart-o"></i> Statistics
                                    </tab-heading>
                                    <table ng-table class="table">
                                    <tr ng-repeat="user in users">
                                        <td data-title="'Name'">{{user.name}}</td>
                                        <td data-title="'Age'">{{user.age}}</td>
                                    </tr>
                                    </table>
                                </tab>
                                <button class="btn btn-default pull-right" tooltip="Refresh"><i class="fa fa-refresh"></i></button>
                            </tabset>
                        </div>
                    </div>
                </accordion-group>
            </accordion>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm" style="margin-top: 10px;">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-dot-circle-o fa-stack-1x fg-red"></i>
                    <i class="fa fa-circle-o fa-stack-1x"></i>
                </span>
                [API: {{api.name}}, Base URL: {{api.baseURL}}, Version: {{api.version}} ]
            </div>
        </div>
    </div>
</application>

<script type="text/ng-template" id="new_endpoint_modal.html">
    <form name="form" role="form" ng-model="endpoint" ng-submit="submit()">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"><i class="fa fa-power-off"></i></button>
            <h4 class="modal-title">{{ 'APPLICATION.NEWENDPOINT.TITLE' | translate }}</h4>
        </div>
        <div class="modal-body">
            <div class="form-group has-feedback">
                <label for="name">{{ 'APPLICATION.NEWENDPOINT.NAME' | translate }}</label>
                <input type="text" class="form-control" id="name" placeholder="{{ 'APPLICATION.NEWENDPOINT.NAME' | translate }}" name="name" required ng-required="true" ng-model="endpoint.name">
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid" >{{ 'OK' | translate }}</button>
            <button type="button" class="btn btn-danger" ng-click="cancel()">{{ 'CANCEL' | translate }}</button>
        </div>
    </form>
</script>

<script type="text/ng-template" id="new_api_modal.html">
    <form role="form" ng-model="method" ng-submit="submit()">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"><i class="fa fa-power-off"></i></button>
            <h4 class="modal-title">{{ 'APPLICATION.NEWMETHOD.TITLE' | translate }}</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="route">{{ 'APPLICATION.NEWMETHOD.ROUTE' | translate }}</label>
                <input type="text" class="form-control" id="route" placeholder="{{ 'APPLICATION.NEWMETHOD.ROUTE' | translate }}" required ng-required="true" ng-model="method.route">
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">{{ 'OK' | translate }}</button>
            <button type="button" class="btn btn-danger" ng-click="cancel()">{{ 'CANCEL' | translate }}</button>
        </div>
    </form>
</script>


